.back-button{
    border-radius: 50%;
    padding-left: 0.5rem;
    padding-top: 0.2rem;
    margin-left: 1rem;
    width: 2rem;
    height: 2rem;
    justify-items: center;
    align-items: center;
    background-color: #004AAD;
    cursor: pointer;
}