.extensionForm {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    flex-direction: column;
    padding: 1rem;

    .form-section {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
        width: 70%;

        .formInput {
            padding: 0.5rem;
            display: flex;
            flex: 1;
            flex-direction: column;

            label {
                margin-bottom: 0.3rem;
            }

            input,
            select,
            textarea {
                border-radius: 1rem;
                height: 2rem;
                border: 1px solid #004AAD;
                color: #004AAD;
                font-size: medium;
                padding: 0.4rem
            }

            input[type="submit"] {
                background-color: #004AAD;
                color: white;

                :hover {
                    background-color: #022553;
                }
            }
        }
    }
}