.login {
    .header{
        display: flex;
        padding: 1.5rem;
        background-color: rgb(250, 245, 245);
        height: auto;
        color: rgb(1, 17, 63);
        align-content: center;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
    }
    .headerOptions{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .body{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        color: white;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        background: linear-gradient(90deg,rgb(0, 25, 250), rgb(0, 242, 250));
        height: 100vh;
        width: 100vw;
    }
    .form{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        display: flex;
        flex-direction: column;
        align-content: center;
        align-self: center;
        height: 50vh;
        margin-bottom: 10vh;
    }
    .form input[type="text"], .form input[type="password"]{
        border-radius: 1rem;
        border: none;
        height: 1.5rem;
        padding: 1rem;
        width: 50vw;
        margin-bottom: 1rem;
    }
    .form p{
        font-weight: light;
        align-self: center;
        margin-bottom: 3rem;
        font-size: x-large;
    }
    .form input[type="submit"]{
        margin-top: 1rem;
        background-color: rgb(2, 5, 49);
        padding: 0.5rem;
        border: none;
        border-radius: 1rem;
        width: 7rem;
        color: white;
        font-weight: bolder;
        align-self: center;
    }
    .form input::placeholder {
        font-style: italic;
        font-weight: lighter;
        opacity: 0.4;
        color: gray;
    }
    .form input:hover{
        border: none;
    }
    .form input[type="text"]:focus{
        outline:none;
    }
}